:root{
    --main-color: #84A178;
    --accent-color: #F8D24E;
    --hover-color: #0A8817;
    --disable-color: #ABABAB;
    --main-text-color: #FCFCFC;
    --second-text-color: #131313;
    --background-color: #FFFFFF;
    --main-font: Montserrat, sans-serif;
    --second-font: Seymour One, sans-serif; 
    --third-font: DM Sans, sans-serif;
    --forth-font: Titan One, sans-serif;
    --time-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
