<section class="advantages">
    <div class="container">
    <h2 class="section_title visually-hidden">Advantages</h2>
    <ul class="advantages_list">
      <li class="advantages_item list">
        <div class="advantages_item_box">
          <svg class="advantages_item_icon" width="50" height="50">
            <use href="./images/symbol-defs.svg#cow"></use>
          </svg>
        <p class="advantages_number">721</p>
        <p class="advantages_decript">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      </li>
      <li class="advantages_item list">
        <div class="advantages_item_box">
          <svg class="advantages_item_icon" width="50" height="50">
            <use href="./images/symbol-defs.svg#weight"></use>
          </svg>
        <p class="advantages_number">16kg</p>
        <p class="advantages_decript">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      </li>
      <li class="advantages_item list">
        <div class="advantages_item_box">
          <svg class="advantages_item_icon" width="50" height="50">
            <use href="./images/symbol-defs.svg#icecreame"></use>
          </svg>
        <p class="advantages_number">84</p>
        <p class="advantages_decript">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      </li>
    </ul>
  </div>
  </section>