<section class="advantages">
    <div class="container">
    <h2 class="section_title visually-hidden">Advantages</h2>
    <ul class="advantages_list">
      <li class="advantages_item list">
        <div class="advantages_item_box cow">          
        <p class="advantages_number">721</p>
        <p class="advantages_decript">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      </li>
      <li class="advantages_item list">
        <div class="advantages_item_box weight">          
        <p class="advantages_number">16kg</p>
        <p class="advantages_decript">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      </li>
      <li class="advantages_item list">
        <div class="advantages_item_box cone">         
        <p class="advantages_number">84</p>
        <p class="advantages_decript">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </div>
      </li>
    </ul>
  </div>
  </section>