<section class="contacts" id="contacts">
    <div class="container">
    <h2 class="section_title visually-hidden">Contacts</h2>
  <ul class="contact_list">
    <li class="list contact_list-item">
      <p class="place">CAFE</p>
      <p class="city">Chicago</p>
      <address class="address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</address>
    <div class="days-wrap">
      <p class="days">Monday - Friday</p>
    <p class="hours">06:00 AM - 10:00 PM</p>
    <p class="days">Saturday - Sunday</p>
    <p class="hours">08:00 AM - 16:00 PM</p>
    </div>
    <div class="phone-wrap">
    <a class="phone" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
    <a class="email" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    </li>
    <li class="list contact_list-item">
      <p class="place">FOOD TRUCK</p>
      <p class="city">Los Angeles</p>
      <address class="address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</address>
      <div class="days-wrap">
      <p class="days">Monday - Friday</p>
    <p class="hours">06:00 AM - 10:00 PM</p>
    <p class="days">Saturday - Sunday</p>
    <p class="hours">08:00 AM - 16:00 PM</p>
  </div>
  <div class="phone-wrap">
    <a class="phone" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
    <a class="email" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    </li>
    <li class="list contact_list-item">
      <p class="place">CAFE</p>
      <p class="city" >New York</p>
      <address class="address" >726 Sterling Pl, Brooklyn, NY 11222, USA</address>
      <div class="days-wrap">
      <p class="days">Monday - Friday</p>
    <p class="hours">06:00 AM - 10:00 PM</p>
    <p class="days">Saturday - Sunday</p>
    <p class="hours">08:00 AM - 16:00 PM</p>
  </div>
  <div class="phone-wrap">
    <a class="phone" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
    <a class="email" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    </li>
  </ul>
  <div class="button-wrap">
  <button class="contact_location_btn" type="button">Our Locations &#62;</button>
  <button class="contact_franchise_btn" type="button">Franchise &#62;</button>
  </div>
  </div>
   </section>
   