<footer>
    <div class="container">
      <div class="footer wrap">
        <div class="slogan_box">
          <p class="slogan_up">homemade ice cream made </p>
          <p class="slogan_down">with passion</p>
        </div>
        <div class="contact_box">
          <div class="media_box">
            <svg class="media_icon">
              <use href="./images/symbol-defs.svg#github"></use>
            </svg>
            <svg class="media_icon">
              <use href="./images/symbol-defs.svg#telegram"></use>
            </svg>
            <svg class="media_icon" >
              <use href="./images/symbol-defs.svg#facebook"></use>
            </svg>
          </div>
          <a class="footer_contact" href="tel:+61(0)383766284"><span class="dark">Feel free to contact</span> +61 (0) 383 766 284</a>
        </div>
      </div>
      <p class="copyright">  &#169; 2022 - IceCream. All Rights Reserved. </p>
    </div>
  </footer>