<section class="products background" id="products">
    <div class="container wrap">    
      <p class="section_lable black">100% natural</p>
      <h2 class="section_title black">Products</h2>
    <ul class="products_list">
      <li class="products_list_item list">      
      <div class="products_name-box green">
        <h3 class="products_name">ice cream</h3>
        <p class="products_descript">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
        <svg class="products_arrow">
          <use href="./images/symbol-defs.svg#arrow"></use>
        </svg>
      </div>
      </li>
      <li class="products_list_item list">     
          <div class="products_name-box yellow">
          <h3 class="products_name">ice coffee</h3>
          <p class="products_descript">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
          <svg class="products_arrow">
            <use href="./images/symbol-defs.svg#arrow"></use>
          </svg>
        </div>
      </li>
      <li class="products_list_item list">      
          <div class="products_name-box brown">
          <h3 class="products_name">milkshakes</h3>
          <p class="products_descript">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
          <svg class="products_arrow">
            <use href="./images/symbol-defs.svg#arrow"></use>
          </svg>
        </div>
      </li>
    </ul>
    </div>
  </section>