<section class="reviews background">
    <div class="container">
      <h2 class="section_title visually-hidden">Customer Reviews</h2>

      <div id="pane-1" class="customer-box is-active">
        <div class="customer">
          <img class="reviews-img"
          srcset="./images/reviews/review1-desktop-1x.jpg 1x,
                  ./images/reviews/review2-desktop-2x.jpg 2x"
          src="./images/reviews/review1-desktop-1x.jpg"
          alt="Emily"
        />
        </div>
        <p class="reviews-text">
          I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
          addition, you have beautiful serving, cozy atmosphere and polite staff.
        </p>
        <p class="client">Emily, Los Angeles</p>
      </div>
      <div id="pane-2" class="customer-box">
        <div class="customer">
          <img class="reviews-img"
                srcset="./images/reviews/review3-desktop-1x.jpg 1x,
                ./images/reviews/review3-desktop-2x.jpg 2x"
                src="./images/reviews/review3-desktop-1x.jpg"
                alt="Bryan"
                />
        </div>
        <p class="reviews-text">
          Every day we come to you with friends after classes in college. We love your ice cream and
          casual atmosphere!
        </p>
        <p class="client">Bryan, New-York</p>
      </div>
      <div id="pane-3" class="customer-box">
        <div class="customer">
          <img class="reviews-img"
                  srcset="./images/reviews/review2-desktop-1x.jpg 1x,
                          ./images/reviews/review2-desktop-2x.jpg 2x"
                  src="./images/reviews/review2-desktop-1x.jpg"
                  alt="Diana"
                />
        </div>
        <p class="reviews-text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
          excellent service - always served politely and quickly!
        </p>
        <p class="client">Diana, Chicago</p>
      </div>
      <ul class="marker-list list">
        <li class="marker">
          <button class="marker-btn" data-id="pane-1" type="button"></button>
        </li>
        <li class="marker">
          <button class="marker-btn" data-id="pane-2" type="button"></button>
        </li>
        <li class="marker">
          <button class="marker-btn" data-id="pane-3" type="button"></button>
        </li>
      </ul>
    </div>
</section>
