.section_lable {
    margin-bottom: 12px;    
    font-size: 30px;
    font-weight: 800;
    line-height: 1.23;
    text-align: center;
}

.section_title {
    margin-bottom: 303px;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    text-align: center;
}

.wrap {
    padding-top: 60px;
    padding-bottom: 60px;
}
