.section_title.cow {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 54px;
}

.img-wrap {
    position: relative;
}

.img-wrap::before {
    content: '';
      position: absolute;
      top: -8%;
      left: 0%;
      z-index: -1;
      width: 279px;
      height: 279px;
      background: var(--accent-color);
      box-shadow: 0 8 30 0 rgba(153, 114, 23, 0.25);
      border-radius: 250px;
}

.about-img {
    width: 279px;
    height: 279px;
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 24px;    
    padding-right: 50px;
    padding-left: 50px;
}

.about_descript {  
    font-size: 12px;
    line-height: 1.75;
    text-align: center;
}

.about_descript + .about_descript {
    margin-top: 4px;
}

.about_btn {
    min-width: 164px;
    height: 42px;
    margin-top: 24px;
    border: 1px solid transparent;
    border-radius: 10px;

    font-family: inherit;   
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    
    text-align: center;
    cursor: pointer;

    background-color: var(--accent-color);

    transition: color var(--time-duration) var(--timing-function);  
    transition: border var(--time-duration) var(--timing-function);   
}

.about_btn:hover {
    border: 2px solid var(--hover-color);
}


@include tablet {
    .section_title.cow {
        width: 454px;
        margin: 0 auto;
        margin-bottom: 80px;
        letter-spacing: 0.04em;
    }
   
    .about-wrap {
    display: flex;
    padding-top: 0px;
}

.about-img {
    width: 330px;
    height: 330px;
    margin-top: 26px;
}

.img-wrap::before {   
      width: 330px;
      height: 330px; 
      top: 0%;   
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 38px;
    margin-top: 0px;
    margin-bottom: 32px;    
    padding-right: 0px;
    padding-left: 0px;
}

.about_descript {
    margin-top: 8px;
    width: 336px;
    text-align: left;
}

.about_descript + .about_descript {
    margin-top: 8px;
}



}

@include desktop {
    .section_title.cow {
    width: 481px;
    margin-bottom: 121px;    
}

.about-img {
    width: 490px;
    height: 490px;
    margin-top: 0px;
}

.img-wrap::before {   
    width: 490px;
    height: 490px; 
    top: -7%;   
}

.about_descript {
    width: 463px;    
    margin-top: 53px;

    font-size: 16px;
    line-height: 1.76;    
}

.about_descript.bottom {
    font-size: 14px;
    line-height: 1.93;  
}

.about-box {
    margin-left: 109px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.about_btn {
    margin-top: 54px;
}
.bout_btn:focus {
    color: var(--second-text-color);
    border: 2px solid var(--hover-color);
}
}