/*.advantages > .container {
    padding-bottom: 98px;
}

.advantages_list {
    display: flex;
    justify-content: space-between;
}

.advantages_item {
    width: 368px;
}

.advantages_item_icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.advantages_number {
   margin-bottom: 12px; 
    font-size: 58px;
    font-weight: 700;
    line-height: 1.22;
    text-align: center;
}

.advantages_decript {    
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
    text-align: center;
}*/