.descript-box,
.hero_arrow,
.hero_info,
.hero_pic {
    display: none;
}

.hero_title {
    padding-top: 50px;
    margin-bottom: 32px;    
    
    font-family: var(--second-font);
    font-size: 26px;    
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: left;    
}

.title-accent {
    font-family: var(--second-font);
    font-size: 34px;    
    line-height: 0.97;
    text-transform: uppercase;
    text-align: left;
}

.hero > .container {
    position: relative;
    height: 502px;
    background-image: url(../images/hero-dots-tel.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero_btn {
    display: flex;
    margin-bottom: 19px;
    align-items: baseline;
}

.hero_btn_poduct {
    display: inline-block;
    margin-right: 12px;
    padding: 10px 22px;   
    border: 2px solid var(--accent-color);
    border-radius: 10px;

    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
   
    color: var(--main-text-color);
    background-color: var(--main-color);  
    cursor: pointer;     
}

.hero_btn_about {
    display: inline-block;
    padding: 8px 2px;

    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    
    color: var(--accent-color); 
    background-color: var(--main-color);  
    cursor: pointer;    
}

.hero_img {
    position: absolute;
    top: 57%;
    left: 25%;    
}

@include mobile {
    .hero_title {
        width: 247px;
        padding-top: 40px;        
    }

    .hero > .container {       
        height: 415px;       
        
        background-position: bottom;
    }
}

/*@include tablet {
    .hero_title {

    }
}*/

@include desktop {

.hero_title,
.title-accent {
    width: 367px;
    margin-top: 45px;
    margin-bottom: 28px;
   
    font-size: 38px;
    line-height: 1.26;
    text-align: left;
}

.hero > .container {    
    height: 591px;
    background-image: url(../images/hero-dots-desktop.svg);
}

.container_box {
    display: flex;
    justify-content: space-between;
}

.descript{
    margin-top: 53px;
}

.descript_item:last-child {
    margin-top: 16px;
}

.descript_item {
   display: block; 
}

.descript_item_number {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 4px;
    font-size: 46px;
    font-weight: 900;
    line-height: 1.22;
    text-align: right;

    color: var(--second-text-color);
}

.descript_item_word {
    font-size: 14px;
    line-height: 1.22;
    text-align: right;
}


.hero_info {
    width: 200px;
    margin-left: 257px;
   
    font-size: 14px;
    line-height: 20px;

    text-align: left;
}

.hero_arrow {
    width: 40px;
    height: 16px;
    fill: var(--main-text-color);
    margin-left: 257px;
    margin-top: 24px;
}

.hero_img {
    position: absolute;
    top: 57%;
    left: 25%;    
}

.hero_btn {    
    margin-bottom: 111px; 
     
}

.hero_btn_poduct {
    margin-right: 12px;
    padding: 10px 32px; 
    font-size: 14px;    
    line-height: 1.28;     
}

.hero_btn_about {    
    padding: 10px 22px;
    font-size: 14px;    
    line-height: 1.28;  
}

}