.customer-box {
    display: none;
}

.customer-box.is-active {
    display: block;
}

.background.reviews {
    padding-top: 40px;
    padding-bottom: 415px;
}

.reviews-img {
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;    
    margin-left: auto;
    margin-right: auto;    
}

.reviews-text {    
    font-size: 12px;    
    line-height: 2.58;    
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 35px 40px;
    width: 280px;
    margin: 32px auto;
}

.client {    
    font-size: 20px;
    font-weight: 500;
    line-height: 1.85;
    text-align: center;
    color: var(--second-text-color);
}

.marker-list {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.marker-btn {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background-color: var(--review-button-color);
    cursor: pointer;
}

.marker-btn:hover,
.marker-btn:focus {
    background-color: var(--main-color);
}

.marker:not(:last-child) {
    margin-right: 18px;
}

@include tablet {
    .background.reviews {        
        padding-bottom: 350px;
    }

    .reviews-text {
        width: 705px;
        border-radius: 24px;
        padding: 28px 80px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.87;
        letter-spacing: 0.04em;
    }

    .client {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.87x;        
    }

    .marker-list {
        margin-top: 32px;
    }
}

@include desktop {
    .background.reviews {        
        padding-bottom: 250px;
    }

    .reviews-text {
        width: 968px;
        padding: 43px 74px 41px 73px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.87;
        letter-spacing: 0.04em;
    }
}




/*.reviews__swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews__img-wrapp {
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.reviews__img {
    width: 85px;
    height: 85px;   
}

.reviews__wrapp {
    width: 280px;
    height: 256px;    
    border-radius: 10px;
    padding: 35px 39px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    background-color: var(--main-color);
}

.reviews__text {    
font-size: 12px;
line-height: 2.58;
text-align: center;
color: var(--main-text-color);
}

.reviews__desc {   
    margin-bottom: 12px;    
font-size: 20px;
font-weight: 500;
line-height: 1.85;
text-align: center;

    color: var(--second-text-color);
    
}

.swiper {
    overflow: hidden;
    z-index: 1;     
    }

    .swiper-slide {
      padding-bottom: 20px;  
      }   
  
      .swiper-pagination-bullet-active {
      background-color: var(--main-color);
      width: 12px;
      height: 12px;
    }
  
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
    }
  */